/* Setup Scrolling */

@import url(dancing-script.css);


@import url("https://unpkg.com/open-props");


html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  color: white;
  font-size: 55px;
  font-family: DancingScript-Regular;
  animation: var(--animation-pulse);
}
h1:hover{
  animation: var(--animation-ping);
}

p {
  color: whitesmoke;
  font-style: bold;
  
}

p:hover {
  animation: var(--animation-float);
  animation-duration: 3s;
}
/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
  background-image: url("oahu.jpg");
  
}

.two {
  background-image: url("stairway.jpg");
  
}

.three {
  background-image: url("Iolani.jpeg");
}

.four {
  background-image: url("waikiki.jpg");
}

.five {
  background-image: url("BotanicalGarden.jpg");
}

